http://192.168.122.102, http://192.168.122.103 {
	redir http://192.168.122.101{uri} permanent
}


:80 {
    # Enruta las peticiones que comienzan con /api/ al servicio de la API
    handle /api/* {
        reverse_proxy api:8000
    }

    # Todas las demás peticiones van al servicio web estático
    root * /srv/web
    file_server
}

:9000 {
    # El tráfico de MinIO se mantiene igual
    reverse_proxy minio:9000
}

