# API and Web App
:80 {
    @allowed_ips remote_ip 192.168.122.102 192.168.122.103
    
    handle @allowed_ips {
        reverse_proxy 192.168.122.101:8000
    }

    handle {
        abort
    }
}

# Minio Storage
:9000 {
    @allowed_ips remote_ip 192.168.122.102 192.168.122.103
    
    handle @allowed_ips {
        reverse_proxy 192.168.122.101:9000
    }

    handle {
        abort
    }
}

