:80 {
    @allowed_ips remote_ip 192.168.122.102 192.168.122.103
    
    handle @allowed_ips {
        reverse_proxy api:8000
    }

    handle {
        # Bloquea cualquier otra IP
        abort
    }
}